body {
	background-color: aquamarine;
}

#containerzao {
	display: flex;
	justify-content: space-between;
}

/* #containerDosCanvas { } */

#container {
	min-width: 200px;
	margin-right: 5px;
}

.esse-lixo {
	display: flex;
	justify-content: space-between;
}

.texto {
	margin: 0;
	margin-left: 15px;
}

canvas {
	max-width: 49%;
}

p {
	margin: 0;
}

#texto-top {
	/* margin-left: 40%; */
	margin: auto;
}

.flex:first-of-type {
	margin-bottom: 5px;
}
.flex {
	display: flex;
	justify-content: space-between;
}

.direita {
	margin-right: 10px;
}



/* 
TOGGLE ROUBADO DE
https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 4px #000000;
}

input:checked + .slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}